.navigation {
  background-color: rgb(59, 56, 56);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-radius: 5px;
  align-items: center;

  @media (max-width: 400px) {
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 15px;
    justify-content: space-between;
  }
}
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  border-radius: 5px;
  * {
    color: aliceblue;
  }
  @media (max-width: 380px) {
    justify-content: space-between;
  }
}

.nav__link {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  display: inline-block;
  margin-right: 30px;
  transition: 0.5s ease;
  font-weight: 600;
  font-size: 19px;
  border-bottom: 2px solid #3b3838;
  @media (max-width: 500px) {
    border-bottom: 1px solid #3b3838;
  }
  &:hover {
    color: #058df5;
    transition: 0.5s ease;
  }
  &.active {
    border-bottom: 2px solid #7bc4fb;
    color: #7bc4fb;
    @media (max-width: 500px) {
      border-bottom: 1px solid #7bc4fb;
    }
  }
  @media (max-width: 500px) {
    font-size: 16px;
    margin: 0 8px;
  }
}

.lang-select {
  outline: none;
  width: 65px;
  border-radius: 10px;
  color: #0079d6;
  font-size: 16px;
  font-weight: 700;
  padding: 3px;
  cursor: pointer;
}
