<div class="navigation">
  <div class="container">
    <nav class="nav">
      <ul class="nav__list">
        <li *ngFor="let link of links; index as i" class="nav__item">
          <a (click)="onSelectItem(link)" [class.active]="link === activeLink" class="nav__link" [routerLink]="link">
            {{ linksTitle[i] }}</a
          >
        </li>
      </ul>
      <div class="lang-control">
        <select class="lang-select" (change)="checkLang($event)">
          <option value="en">ENG</option>
          <option value="ru" selected>RUS</option>
          <option value="be">BEL</option>
        </select>
      </div>
    </nav>
  </div>
</div>
