.lang-control-button {
  cursor: pointer;
  font-size: 16px;
  height: 26px;
  position: relative;
  width: 72px;
  margin: 0 0 0 10px;

  .label-off,
  .label-on {
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    position: absolute;
    top: 5px;
    transition: opacity 0.25s ease-out 0.1s;
    color: #fefefe;
  }
  .label-off {
    right: 18px;
  }

  .label-on {
    opacity: 0;
    left: 8px;
  }
}

.lang-control {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
  font-size: 17px;
  left: 0;
  line-height: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 0;
  color: #fefefe;
  &:before,
  &:after {
    content: "";
    font-size: 17px;
    position: absolute;
    color: #fefefe;
  }

  &:before {
    border-radius: 20px;
    background-color: rgb(59, 56, 56);
    border: 2px solid #ffffff;
    height: 32px;
    left: -7px;
    top: -5px;
    transition: background-color 0.25s ease-out 0.1s;
    width: 72px;
    color: #fefefe;
  }

  &:after {
    box-shadow: 0 2px 4px 0 #666;
    border-radius: 50%;
    background: #fefefe;
    height: 25px;
    transform: translate(0, 0);
    transition: transform 0.25s ease-out 0.1s;
    width: 25px;
    color: #fefefe;
  }

  &:checked {
    &:after {
      transform: translate(35px, 0);
      color: #fefefe;
    }

    & ~ .label-off {
      opacity: 0;
      color: #fefefe;
    }

    & ~ .label-on {
      opacity: 1;
      color: #fefefe;
    }
  }

  &#lang-control {
    &:checked:before {
      border: 2px solid white;
      color: #fefefe;
    }
  }
}

.hi{
  color: red
}
