<div class="container">
  <header class="header">
    <img class="header__photo" src="../../assets/photo.JPG" alt="" />
    <div class="header__info">
      <h2 class="info__name">{{ 'header.name' | translate }}</h2>
      <h2 class="info__position">{{ 'header.position' | translate }}</h2>
      <div class="info__wrapper">
        <img class="info__location-img" src="../../assets/contacts-icons/location.svg" alt="" />
        <h2 class="info__location">{{ 'header.location' | translate }}</h2>
      </div>
    </div>
    <div class="header__contacts">
      <a class="contacts__link" target="_blank" href="https://t.me/lisaliza6428">
        <img class="contacts__img" src="../../assets/contacts-icons/telegram.svg" alt="telegram"
      /></a>
      <a class="contacts__link" target="_blank" href="mailto:elizavetaivanushenko@gmail.com">
        <img class="contacts__img" src="../../assets/contacts-icons/gmail.svg" alt="gmail"
      /></a>
      <a class="contacts__link" target="_blank" href="https://linkedin.com/in/elizaveta-ivanushenko">
        <img class="contacts__img" src="../../assets/contacts-icons/linkedin.svg" alt="linkedin"
      /></a>
      <a class="contacts__link" target="_blank" href="https://github.com/lisaliza6428">
        <img class="contacts__img" src="../../assets/contacts-icons/github.svg" alt="github"
      /></a>
    </div>
  </header>
</div>
