<div class="container">
  <div class="main-content">
    <h2 class="title">About me</h2>
    <p></p>
    <p class="text">I've never thought that once  I would decide to connect my life to information technologies. <br>
      I have an education and work experience in the sphere far enough from it.  <br> But one day I tried to solve one of my everyday work problems using programming. My first program was ugly, slow and totally hard coded - but it worked! <br>
      Then I realized –   this is something I actually want to do. I want to create <br>
      This is why I finished my more than 3 year journey in transport logistics and joined frontend course in rolling scope school. Here I found an amazing community of purposeful and inspired people as I am, met a great challenges,  deadline is and found out what a team development is. 
      I adore the feeling how my brain works. <br>
      How I had lived without all this stuff before?) 
      <br>
      By the way, I have level 4 on codewars.com <a target="_blank" href="https://www.codewars.com/users/lisaliza6428">
        <img src="https://www.codewars.com/users/lisaliza6428/badges/micro" alt="">
      </a>
      <br>
      And now It's time for new challenges - I dream about my first job, where I can gain my skills, to be a part of real world project. 
      <br>
      Another very important fact about me - I Can't live without Nutella.</p>

      

  </div>
  <div class="download-block">
    <p class="download-text">Download my CV (PDF)</p>
    <a class="download" href="../../assets/cv.pdf" download="">in English</a>
    <a class="download" href="../../assets/cv.pdf" download="">in Russian</a>
  </div>
</div>