<div class="container">
  <div class="main-content">
    <h2 class="title">{{ 'about.pageTitle' | translate }}</h2>
      <p> {{'about.content.text' | translate}}</p>

      <p>I had a non-IT job, where I couldn't do without specialized software and technological solutions, which were always easy for me to use (1C: Enterprise, Bitrix24, FEA-info, Wialon)</p>
      <p>One day I remembered some knowledge from my university computer science course and tried to solve one of my everyday work problems using programming. The process of working on my own small program once again convinced me of the idea - my current profession is not something I actually want to do in the coming years.</p>
      <p>This is why I finished my more than 3 year journey in transport logistics and joined Rolling Scopes School's frontend course, dedicating all my time to learning. </p>
      <p>Here I found an amazing community of purposeful and inspired people as I am. Togather we met a great variety of challenges, every week deadlines, found out what a team development is. Also here I got hooked on Codewars.com (where, by the way, I have 4 kui 	
        &#9786; <a target="_blank" href="https://www.codewars.com/users/lisaliza6428">
        <img src="https://www.codewars.com/users/lisaliza6428/badges/micro" alt="">
      </a></p>
      <p>And now It's time for the new challenges - I dream about my first job. I can gain my skills, to be a part of real project and team.</p>

  </div>


  <div class="download-block">
    <p class="download-text">{{ 'about.download.title' | translate }}</p>
    <a class="download" href="../../assets/cv.pdf" download="">{{ 'about.download.en' | translate }}</a>
    <a class="download" href="../../assets/cv.pdf" download="">{{ 'about.download.ru' | translate }}</a>
  </div>



<!-- <p class="text">
  My first program was ugly, slow and totally hard coded - but it worked! <br>
  I adore the feeling how my brain works. <br>
  How I had lived without all this stuff before?) 
  <br>
  <br>
  Another very important fact about me - I Can't live without Nutella.</p> -->