<div class="container">
  <section class="projects-section">
    <h2 class="title">{{ 'projects.pageTitle' | translate}}</h2>
    <div class="wrapper">
      <div class="inner__left">
        <a class="project__image project__image--museum" target="_blank"
          href="https://lisaliza6428-museum-dom.netlify.app/"></a>
      </div>
      <div class="inner__right">
        <h3 class="project__title">{{ 'projects.museum.title' | translate }}</h3>
        <div class="project__stack">{{ 'projects.museum.stack' | translate }}</div>

        <div class="project__description">
          <span>{{'projects.museum.descr1.part1'| translate }}</span>
          <a class="louvre-link" target="_blank" href="https://www.louvre.fr/en">
            {{'projects.museum.descr1.part2'| translate }} </a>
          <span>{{'projects.museum.descr1.part3'| translate }}</span>
        </div>
        <div class="project__description">{{ 'projects.museum.descr2' | translate }}</div>
        <div class="project__description"> {{ 'projects.museum.descr3' | translate }}</div>
        <div class="link-wrapper">
          <a class="project__link" target="_blank" href="https://lisaliza6428-louvre-museum.netlify.app/">
            {{ 'projects.buttonDeploy' | translate }}</a>
          <a class="project__link" target="_blank" href="https://github.com/lisaliza6428/Museum/tree/develop">{{
            'projects.buttonCode' | translate }}</a>
        </div>

      </div>
    </div>
    <hr class="line">
    <div class="wrapper">
      <div class="inner__left">
        <a class="project__image project__image--artquiz" href="" target="_blank"
          href="https://lisaliza6428-artquiz.netlify.app/"></a>
      </div>
      <div class="inner__right">
        <h3 class="project__title">{{ 'projects.artquiz.title' | translate }}</h3>
        <div class="project__stack">{{ 'projects.artquiz.stack' | translate }}</div>
        <div class="project__description">{{ 'projects.artquiz.descr1' | translate }}</div>
        <div class="project__description">{{ 'projects.artquiz.descr2' | translate }}</div>
        <div class="project__description">{{ 'projects.artquiz.descr3' | translate }}</div>
        <div class="link-wrapper">
          <a class="project__link" target="_blank" href="https://lizalisa6428-artquiz.netlify.app/">{{
            'projects.buttonDeploy' | translate }}</a>
          <a class="project__link" target="_blank" href="https://github.com/lisaliza6428/ArtQuiz/tree/develop">{{
            'projects.buttonCode' | translate }}</a>
        </div>

      </div>
    </div>
    <hr class="line">
    <div class="wrapper">
      <div class="inner__left">
        <a class="project__image project__image--cv" target="_blank"
          href="https://github.com/lisaliza6428/ArtQuiz/tree/develop"></a>
      </div>
      <div class="inner__right">
        <h3 class="project__title">{{ 'projects.cv.title' | translate }}</h3>
        <div class="project__stack">{{ 'projects.cv.stack' | translate }} </div>
        <div class="project__description">{{ 'projects.cv.descr1' | translate }}</div>
        <div class="project__description">{{ 'projects.cv.descr2' | translate }}</div>
        <div class="project__description">{{ 'projects.cv.descr3' | translate }}</div>
        <div class="link-wrapper">
          <a class="project__link" target="_blank" href="https://elizaveta-ivanushenko.netlify.app/">{{
            'projects.buttonDeploy' | translate }}</a>
          <a class="project__link" target="_blank" href="https://github.com/lisaliza6428/Angular-CV/tree/develop">{{
            'projects.buttonCode' | translate }}</a>
        </div>
      </div>
    </div>
  </section>
</div>