:host {
  display: block;
}
.title {
  margin: 0 0 40px 0;
}

.projects-section {
  margin: 0 0 70px 0;
}

.wrapper {
  * {
    color: black;
  }
  display: flex;
  column-gap: 25px;
  text-align: justify;
  flex: 1;
  @media (max-width: 760px) {
    flex-direction: column;
  }
  .inner__left {
    @media (max-width: 760px) {
      margin: 0 auto;
    }

    .project__image {
      display: block;
      width: 380px;
      height: 300px;
      border-radius: 5px;
      filter: grayscale(100%);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
      border: 1px solid white;
      &--museum {
        background-image: url("../../../assets/projects/museum.JPG");
      }
      &--artquiz {
        background-image: url("../../../assets/projects/artquiz.JPG");
      }
      &--cv {
        background-image: url("../../../assets/projects/cv.JPG");
        border: 1px solid #3b3838;
      }

      transform: scale(1);
      transition: 0.4s;
      &:hover {
        transform: scale(1.03);
        transition: 0.4s;
      }
      @media (max-width: 500px) {
        width: 280px;
        height: 200px;
      }
    }
  }
  .inner__right {
    display: flex;
    flex-direction: column;
    @media (max-width: 760px) {
      * {
        margin-bottom: 12px;
      }
    }
    .project__title {
      font-size: 23px;
      margin-bottom: 4px;
      @media (max-width: 760px) {
        text-align: center;
        margin: 7px 0;
      }
    }

    .project__stack {
      font-size: 17px;
      font-weight: 600;
      line-height: 18px;
      color: #0386ea;
      margin-bottom: 5px;
      @media (max-width: 760px) {
        text-align: center;
        margin-bottom: 10px;
      }
    }
    .project__description {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 4px;
      .louvre-link {
        text-decoration: underline;
        display: inline;
        &:hover {
          color: #0335ea;
        }
      }
    }
    .link-wrapper {
      margin-top: auto;
      @media (max-width: 760px) {
        text-align: center;
        margin-top: 15px;
      }
      .project__link {
        text-decoration: none;
        display: inline-block;
        margin: 5px 5px 0 0;
        padding: 10px;
        width: 150px;
        background-color: #0386ea;
        color: white;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        transition: 0.5s;
        transform: scale(1);
        &:hover {
          transition: 0.5s;
          font-weight: 600;
          background-color: #0335ea;
          transform: scale(1.03);
        }
        @media (max-width: 760px) {
          width: 120px;
        }
      }
    }
  }
}

.line {
  width: 80%;
  margin: 55px auto;
}
