<div class="container">
  <div class="main-content">
    <h2 class="title">{{ 'about.pageTitle' | translate }}</h2>
    <p class="text">{{ 'about.content.text1' | translate }}</p>
    <p class="text">{{ 'about.content.text2' | translate }}</p>
    <p class="text">{{ 'about.content.text3' | translate }}</p>
    <p class="text" innerHtml="{{ 'about.content.text4' | translate }}"></p>
    <p class="text">{{ 'about.content.text5' | translate }}</p>
    <p class="text">{{ 'about.content.text6' | translate }}</p>
  </div>

  <div class="download-block">
    <p class="download-text">{{ 'about.download.title' | translate }}</p>
    <a class="download" href="../../assets/cv-pdf/Elizaveta-Ivanushenko-CV-en.pdf" download="">{{
      'about.download.en' | translate
    }}</a>
    <a class="download" href="../../assets/cv-pdf/Elizaveta-Ivanushenko-CV-ru.pdf" download="">{{
      'about.download.ru' | translate
    }}</a>
  </div>
</div>
