<div class="container">
  <section class="section">
    <h2 class="title">{{ title | translate }}</h2>
    <div class="lists">
      <div class="list" *ngFor="let j of json">
        <h3 class="list__item-title">{{ j.title | translate }}</h3>
        <ul class="list">
          <li class="list__item" *ngFor="let value of objectValues(j.list)">{{ value }}</li>
        </ul>
      </div>
    </div>
    <div class="certificates">
      <h2>{{ 'skills.certificates' | translate }}</h2>
      <a href="https://app.rs.school/certificate/peaz3656">JavaScript/Frontend</a>
      <a href="https://app.rs.school/certificate/3nfa3a39">Angular</a>
    </div>
  </section>
</div>
