<footer>
  <a class="contacts__link" target="_blank" href="tel:+79214126428">
    <img class="contacts__img" src="../assets/phone-white.svg" alt="github">+7 921 412 64 28</a>
  <a class="contacts__link" target="_blank" href="https://t.me/lisaliza6428">
    <img class="contacts__img" src="../assets/telegram-white.svg" alt="telegram">lisaliza6428 </a>
  <a class="contacts__link" target="_blank" href="mailto:elizavetaivanushenko@gmail.com">
    <img class="contacts__img" src="../assets/gmail-white.svg" alt="gmail">elizavetaivanushenko@gmail.com</a>
  <a class="contacts__link" target="_blank" href="https://discordapp.com/users/lisaliza6428#1168/">
    <img class="contacts__img" src="../assets/discord-white.svg" alt="discord">lisaliza6428#1168</a>
  
  <a class="contacts__link" target="_blank" href="https://join.skype.com/invite/DsYLg5ud0pfQ
  ">
    <img class="contacts__img" src="../assets/skype-white.svg" alt="skype">live:.cid.18a1400b5ba308ef</a>
    <a class="contacts__link" target="_blank" href="https://github.com/lisaliza6428">
      <img class="contacts__img" src="../assets/github-white.svg" alt="github">lisaliza6428</a>
</footer>
