<footer>
  <a class="contacts__link" target="_blank" href="tel:+79214126428">
    <img class="contacts__img" src="../assets/contacts-icons/phone.svg" alt="phone">+7 921 412 64 28</a>
  <a class="contacts__link" target="_blank" href="https://t.me/lisaliza6428">
    <img class="contacts__img" src="../assets/contacts-icons/telegram.svg" alt="telegram">lisaliza6428 </a>
  <a class="contacts__link" target="_blank" href="mailto:elizavetaivanushenko@gmail.com">
    <img class="contacts__img" src="../assets/contacts-icons/gmail.svg" alt="gmail">elizavetaivanushenko@gmail.com</a>
  <a class="contacts__link" target="_blank" href="https://discordapp.com/users/lisaliza6428#1168/">
    <img class="contacts__img" src="../assets/contacts-icons/discord.svg" alt="discord">lisaliza6428#1168</a>
  
  <a class="contacts__link" target="_blank" href="https://join.skype.com/invite/DsYLg5ud0pfQ
  ">
    <img class="contacts__img" src="../assets/contacts-icons/skype.svg" alt="skype">live:.cid.18a1400b5ba308ef</a>
    <a class="contacts__link" target="_blank" href="https://github.com/lisaliza6428">
      <img class="contacts__img" src="../assets/contacts-icons/github.svg" alt="github">lisaliza6428</a>
</footer>
